<!-- <app-navbar></app-navbar>
 <app-lancamento-pesquisa></app-lancamento-pesquisa>
  <br><br><br> -->
<!-- <app-pessoa-pesquisa></app-pessoa-pesquisa> -->

<div class="container" >
    <div class="ui-g">
  <form #usuarioForm="ngForm" (ngSubmit)="salvar(usuarioForm)">

    <div class="alert alert-danger" *ngIf="usuarioForm.invalid">
      Preencha todos os campos corretamente.
    </div>
    <div class="form-group">
      <label class="form-control-label">Nome</label>
      <input type="text" class="form-control" [(ngModel)]="cliente.nome" name="primeiroNome" required minlength="3"  pattern="[a-zA-Z ]*"
       #nome="ngModel" >
      <div *ngIf="nome.hasError('required')" > Digite o Nome</div>
      <div *ngIf="nome.hasError('minlength')" > Mínimo 3 caracteres</div>
      <div *ngIf="nome.hasError('pattern')" > Apenas letras</div>
    </div>

    <div class="form-group">
        <label class="form-control-label">Email</label>
        <input type="text" class="form-control" [(ngModel)]="cliente.email" name="e-mail" email #email="ngModel">
        <div *ngIf="email.hasError('email')" > E-mail invalido</div>
     </div>

     <div class="form-group">
        <label class="form-control-label">Profissão</label>
        <select class="form-control" [(ngModel)]="cliente.profissao" name="profissao" required>
          <option value="">Selecione</option>
          <option *ngFor="let profissao of profissoes">{{profissao}}</option>

        </select>
     </div>

     <div class="form-group">
       <button type="submit" class="btn btn-primary" [disabled]="!usuarioForm.valid" >Salvar</button>
     </div>

  </form>
  </div>
</div>
